:root {
  --primary: #70a9a1;
  --accent: #16302b;
  --secondary: #cfd7c7;
  --regular: #f6f1d1;
  --warning: #f6511d;
}

body {
  margin: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.app {
  background-color: var(--primary);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  color: var(--regular);
}

.container {
  max-width: 80%;
  padding: 1em;
  gap: 1em;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  min-height: 2em;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--accent);
}

.search-input {
  max-width: 20rem;
  text-align: center;
  padding: 0.5em;
  border: 0;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  color: var(--secondary);
  font-weight: 600;
  outline: none;
  border-radius: 1rem;
  display: flex;
  background-color: var(--primary);
}

.search-input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: var(--secondary);
}

.page-title {
  color: var(--warning);
  user-select: none;
  letter-spacing: 0.5rem;
}

.search-result-container {
  height: 300px;
  width: 100%;
  background-color: var(--secondary);
}

@media only screen and (min-width: 780px) {
  .container {
    max-width: 1240px;
    padding: 1em;
    gap: 1em;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
